*
{
    font-family: 'Open Sans', sans-serif;
}
/* nav related style */
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name
{
    color: var(--Dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 226px;
}
.midlleclass
{
    color: #FD6E0A;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav>ul
{
    display: flex;
    align-items: center;
}
nav li
{
    list-style: none;
    margin-right: 51px;
}
nav a
{
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-btn
{
    padding: 18px 35px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #FD6E0A;
    
}

/* header related style */

.header
{
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner
{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btntwo
{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 30px;
    
}
.profile-pic
{
    width: 500px;
    height: 600px;
    flex-shrink: 0;
}
.banner-greetings
{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title
{
    margin-top: 5px;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 0;
}
.banner p
{
    margin-top: 20px;
    width: 585px;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}
/* about section */
.about
{
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 180px;
    
}
.section-title
{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description
{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 827px;
margin: auto;
}
